@model CartViewModel
@{
    ViewData["Title"] = "CartView";
}

<table class="table table-striped">
    <thead class=" thead-dark">
        <tr>
            <th>محصول</th>
            <th>تعداد</th>
            <th>قیمت</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <th>@item.Item.Product.Name</th>
                    <th>@item.Quantity</th>
                    <th>@item.TotalPrice()</th>
                    <th>
                        <a asp-action="DeleteCart" asp-controller="Home" asp-route-itemId="@item.Item.Id">حذف</a>
                    </th>
                </tr>
            }
        </tbody>

    </thead>

</table>

<h5>جمع کل : @Model.OrderTotal</h5>

